@model IEnumerable<Novus_Catalog.Models.Students>
@{
    Layout = "~/Views/Shared/_header.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 10); 
}

<!DOCTYPE html>
<html>
<head>
    <style>
         /* CSS to center header text */
        .center-header th:nth-child(6) {
            text-align: center;
        }   
    </style>
</head>
<body>
    <div id="mobileButtons" class="row buttonDiv visible-phone">
        <div class="btn-group">
            @{
                if (Session["ACCOUNT"].Equals("Administrator"))
                {
                    <!-- <button class='btn' id='deleteMobile' onclick='launchDeleteModal();' disabled='true'> <i class='icon-trash icon-black'></i> <br /> Delete Students</button> -->
                    <!-- <button class='btn' id='reportMobile' onclick='launchReportModal();' disabled='true'><i class='icon-download icon-black'></i> <br /> Generate Report</button> -->;
                }
            }
        </div>
    </div>

    <div id="desktopButtons" class="row buttonDiv hidden-phone">
        <div class="span12">
            <div class="row">
                <div class="span2">
                    <button class="btn btn-custom" onclick="location.href='@Url.Action("Student", "Create")'"><i class="icon-plus icon-white"></i> Add New Student</button>
                </div>
                <div id="desktopButtons" class="span4 offset6">
                    <div class="btn-group">
                        @{
                            if (Session["ACCOUNT"].Equals("Administrator"))
                            {
                                <button class='btn' id='deleteDesktop' onclick='launchDeleteModal();' disabled><i class='icon-trash icon-black'></i> Delete Students</button>
                                <button class='btn' id='reportDesktop' onclick='launchReportModal();' disabled><i class='icon-download icon-black'></i> Generate Report</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div id="recordTable" class="row hidden-phone">
        <div class="span12">
            @webGrid.GetHtml(
            htmlAttributes: new { @id = "WebGrid", @class = "table pull-center table-striped table-bordered center-header" },
            // Checkbox
            columns: webGrid.Columns(
                webGrid.Column(
                    header: "",
                    format: item => Html.Raw(
                        "<input type='checkbox' class='desktopCheckbox centerCol' " +
                        "name='student_D_" + item.sid + "' " +
                        "id='student_D_" + item.sid + "' " +
                        "value='" + item.sid + "' " +
                        "onclick='checkAction(this," + item.sid + ");' />"
                    ), style: "centerCol"
                ),
                webGrid.Column(
                    header: "Name",
                    format: item => item.sfirstname + " " + item.slastname
                ),
                webGrid.Column("gender", "Gender"),
                webGrid.Column("dateEnrolled", "Date Enrolled"),
                webGrid.Column("attendance", "Attends"),
                // Edit Button
                webGrid.Column(
                    header: "Edit",
                    format: item => Html.Raw(
                        "<button class='btn btn-custom centerCol' " +
                        "onclick=\"location.href='" + Url.Action("Student", "Edit", new { id = item.sid }) + "'\">" +
                        "<i class='icon-pencil icon-white'></i> Edit</button>"
                    ), style: "centerCol")

                )
            )
        </div>
    </div>
</body>
</html>